In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
page = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

In [3]:
soup=BeautifulSoup(page.content, 'html.parser')

In [4]:
Top_10_ODI_Teams = soup.find_all("table")

In [5]:
Top_10_ODI_Teams

[<table class="table">
 <thead>
 <tr class="table-head">
 <th class="table-head__cell u-text-right">Pos</th>
 <th class="table-head__cell rankings-table__team">
 <span class="u-hide-mobile">Team</span>
 <span class="u-show-mobile">T</span>
 </th>
 <th class="table-head__cell u-center-text">
 <span class="u-hide-mobile">Matches</span>
 <span class="u-show-mobile">M</span>
 </th>
 <th class="table-head__cell u-center-text">
 <span class="u-hide-mobile">Points</span>
 <span class="u-show-mobile">P</span>
 </th>
 <th class="table-head__cell u-text-right rating">
 <span class="u-hide-mobile">Rating</span>
 <span class="u-show-mobile">R</span>
 </th>
 </tr>
 </thead>
 <tbody>
 <tr class="rankings-block__banner">
 <td class="rankings-block__banner--pos">1</td>
 <td class="rankings-block__banner--team-name">
 <span class="flag-30 rankings-block__banner--flag ENG"></span>
 <span class="u-hide-phablet">England</span>
 <span class="u-show-phablet">ENG</span>
 </td>
 <td class="rankings-block__banner--matches">44</td>
 <td class="rankings-block__banner--points">5,405</td>
 <td class="rankings-block__banner--rating u-text-right">
                             123
                             <span class="circle-branding circle-branding--top"></span>
 <span class="circle-branding circle-branding--bottom"></span>
 </td>
 </tr>
 <tr class="table-body" data-team-id="14">
 <td class="table-body__cell table-body__cell--position u-text-right">2</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo IND"></span>
 <span class="u-hide-phablet">India</span>
 <span class="u-show-phablet">IND</span>
 </td>
 <td class="table-body__cell u-center-text">52</td>
 <td class="table-body__cell u-center-text">6,102</td>
 <td class="table-body__cell u-text-right rating">117</td>
 </tr>
 <tr class="table-body" data-team-id="16">
 <td class="table-body__cell table-body__cell--position u-text-right">3</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NZ"></span>
 <span class="u-hide-phablet">New Zealand</span>
 <span class="u-show-phablet">NZ</span>
 </td>
 <td class="table-body__cell u-center-text">32</td>
 <td class="table-body__cell u-center-text">3,716</td>
 <td class="table-body__cell u-text-right rating">116</td>
 </tr>
 <tr class="table-body" data-team-id="15">
 <td class="table-body__cell table-body__cell--position u-text-right">4</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo AUS"></span>
 <span class="u-hide-phablet">Australia</span>
 <span class="u-show-phablet">AUS</span>
 </td>
 <td class="table-body__cell u-center-text">39</td>
 <td class="table-body__cell u-center-text">4,344</td>
 <td class="table-body__cell u-text-right rating">111</td>
 </tr>
 <tr class="table-body" data-team-id="19">
 <td class="table-body__cell table-body__cell--position u-text-right">5</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SA"></span>
 <span class="u-hide-phablet">South Africa</span>
 <span class="u-show-phablet">SA</span>
 </td>
 <td class="table-body__cell u-center-text">31</td>
 <td class="table-body__cell u-center-text">3,345</td>
 <td class="table-body__cell u-text-right rating">108</td>
 </tr>
 <tr class="table-body" data-team-id="20">
 <td class="table-body__cell table-body__cell--position u-text-right">6</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo PAK"></span>
 <span class="u-hide-phablet">Pakistan</span>
 <span class="u-show-phablet">PAK</span>
 </td>
 <td class="table-body__cell u-center-text">35</td>
 <td class="table-body__cell u-center-text">3,490</td>
 <td class="table-body__cell u-text-right rating">100</td>
 </tr>
 <tr class="table-body" data-team-id="22">
 <td class="table-body__cell table-body__cell--position u-text-right">7</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo BAN"></span>
 <span class="u-hide-phablet">Bangladesh</span>
 <span class="u-show-phablet">BAN</span>
 </td>
 <td class="table-body__cell u-center-text">37</td>
 <td class="table-body__cell u-center-text">3,366</td>
 <td class="table-body__cell u-text-right rating">91</td>
 </tr>
 <tr class="table-body" data-team-id="13">
 <td class="table-body__cell table-body__cell--position u-text-right">8</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SL"></span>
 <span class="u-hide-phablet">Sri Lanka</span>
 <span class="u-show-phablet">SL</span>
 </td>
 <td class="table-body__cell u-center-text">39</td>
 <td class="table-body__cell u-center-text">3,297</td>
 <td class="table-body__cell u-text-right rating">85</td>
 </tr>
 <tr class="table-body" data-team-id="21">
 <td class="table-body__cell table-body__cell--position u-text-right">9</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo WI"></span>
 <span class="u-hide-phablet">West Indies</span>
 <span class="u-show-phablet">WI</span>
 </td>
 <td class="table-body__cell u-center-text">46</td>
 <td class="table-body__cell u-center-text">3,402</td>
 <td class="table-body__cell u-text-right rating">74</td>
 </tr>
 <tr class="table-body" data-team-id="17">
 <td class="table-body__cell table-body__cell--position u-text-right">10</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo AFG"></span>
 <span class="u-hide-phablet">Afghanistan</span>
 <span class="u-show-phablet">AFG</span>
 </td>
 <td class="table-body__cell u-center-text">31</td>
 <td class="table-body__cell u-center-text">1,844</td>
 <td class="table-body__cell u-text-right rating">59</td>
 </tr>
 <tr class="table-body" data-team-id="12">
 <td class="table-body__cell table-body__cell--position u-text-right">11</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo IRE"></span>
 <span class="u-hide-phablet">Ireland</span>
 <span class="u-show-phablet">IRE</span>
 </td>
 <td class="table-body__cell u-center-text">29</td>
 <td class="table-body__cell u-center-text">1,316</td>
 <td class="table-body__cell u-text-right rating">45</td>
 </tr>
 <tr class="table-body" data-team-id="68">
 <td class="table-body__cell table-body__cell--position u-text-right">12</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NED"></span>
 <span class="u-hide-phablet">Netherlands</span>
 <span class="u-show-phablet">NED</span>
 </td>
 <td class="table-body__cell u-center-text">5</td>
 <td class="table-body__cell u-center-text">222</td>
 <td class="table-body__cell u-text-right rating">44</td>
 </tr>
 <tr class="table-body" data-team-id="18">
 <td class="table-body__cell table-body__cell--position u-text-right">13</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo ZIM"></span>
 <span class="u-hide-phablet">Zimbabwe</span>
 <span class="u-show-phablet">ZIM</span>
 </td>
 <td class="table-body__cell u-center-text">27</td>
 <td class="table-body__cell u-center-text">1,121</td>
 <td class="table-body__cell u-text-right rating">42</td>
 </tr>
 <tr class="table-body" data-team-id="128">
 <td class="table-body__cell table-body__cell--position u-text-right">14</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo OMA"></span>
 <span class="u-hide-phablet">Oman</span>
 <span class="u-show-phablet">OMA</span>
 </td>
 <td class="table-body__cell u-center-text">12</td>
 <td class="table-body__cell u-center-text">479</td>
 <td class="table-body__cell u-text-right rating">40</td>
 </tr>
 <tr class="table-body" data-team-id="69">
 <td class="table-body__cell table-body__cell--position u-text-right">15</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SCO"></span>
 <span class="u-hide-phablet">Scotland</span>
 <span class="u-show-phablet">SCO</span>
 </td>
 <td class="table-body__cell u-center-text">16</td>
 <td class="table-body__cell u-center-text">419</td>
 <td class="table-body__cell u-text-right rating">26</td>
 </tr>
 <tr class="table-body" data-team-id="155">
 <td class="table-body__cell table-body__cell--position u-text-right">16</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo UAE"></span>
 <span class="u-hide-phablet">UAE</span>
 <span class="u-show-phablet">UAE</span>
 </td>
 <td class="table-body__cell u-center-text">17</td>
 <td class="table-body__cell u-center-text">360</td>
 <td class="table-body__cell u-text-right rating">21</td>
 </tr>
 <tr class="table-body" data-team-id="125">
 <td class="table-body__cell table-body__cell--position u-text-right">17</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NEP"></span>
 <span class="u-hide-phablet">Nepal</span>
 <span class="u-show-phablet">NEP</span>
 </td>
 <td class="table-body__cell u-center-text">9</td>
 <td class="table-body__cell u-center-text">161</td>
 <td class="table-body__cell u-text-right rating">18</td>
 </tr>
 <tr class="table-body" data-team-id="124">
 <td class="table-body__cell table-body__cell--position u-text-right">18</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NAM"></span>
 <span class="u-hide-phablet">Namibia</span>
 <span class="u-show-phablet">NAM</span>
 </td>
 <td class="table-body__cell u-center-text">9</td>
 <td class="table-body__cell u-center-text">152</td>
 <td class="table-body__cell u-text-right rating">17</td>
 </tr>
 <tr class="table-body" data-team-id="157">
 <td class="table-body__cell table-body__cell--position u-text-right">19</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo USA"></span>
 <span class="u-hide-phablet">United States</span>
 <span class="u-show-phablet">USA</span>
 </td>
 <td class="table-body__cell u-center-text">14</td>
 <td class="table-body__cell u-center-text">185</td>
 <td class="table-body__cell u-text-right rating">13</td>
 </tr>
 <tr class="table-body" data-team-id="133">
 <td class="table-body__cell table-body__cell--position u-text-right">20</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo PNG"></span>
 <span class="u-hide-phablet">Papua New Guinea</span>
 <span class="u-show-phablet">PNG</span>
 </td>
 <td class="table-body__cell u-center-text">14</td>
 <td class="table-body__cell u-center-text">0</td>
 <td class="table-body__cell u-text-right rating">0</td>
 </tr>
 </tbody>
 </table>]

In [6]:
df = pd.read_html(str(Top_10_ODI_Teams))[0]
df

    Pos                Team T  Matches M  Points P  Rating R
0     1           England ENG         44      5405       123
1     2             India IND         52      6102       117
2     3        New Zealand NZ         32      3716       116
3     4         Australia AUS         39      4344       111
4     5       South Africa SA         31      3345       108
5     6          Pakistan PAK         35      3490       100
6     7        Bangladesh BAN         37      3366        91
7     8          Sri Lanka SL         39      3297        85
8     9        West Indies WI         46      3402        74
9    10       Afghanistan AFG         31      1844        59
10   11           Ireland IRE         29      1316        45
11   12       Netherlands NED          5       222        44
12   13          Zimbabwe ZIM         27      1121        42
13   14              Oman OMA         12       479        40
14   15          Scotland SCO         16       419        26
15   16               UAE UAE         17       360        21
16   17             Nepal NEP          9       161        18
17   18           Namibia NAM          9       152        17
18   19     United States USA         14       185        13
19   20  Papua New Guinea PNG         14         0         0

In [7]:
del df['Pos']
df

                  Team T  Matches M  Points P  Rating R
0            England ENG         44      5405       123
1              India IND         52      6102       117
2         New Zealand NZ         32      3716       116
3          Australia AUS         39      4344       111
4        South Africa SA         31      3345       108
5           Pakistan PAK         35      3490       100
6         Bangladesh BAN         37      3366        91
7           Sri Lanka SL         39      3297        85
8         West Indies WI         46      3402        74
9        Afghanistan AFG         31      1844        59
10           Ireland IRE         29      1316        45
11       Netherlands NED          5       222        44
12          Zimbabwe ZIM         27      1121        42
13              Oman OMA         12       479        40
14          Scotland SCO         16       419        26
15               UAE UAE         17       360        21
16             Nepal NEP          9       161        18
17           Namibia NAM          9       152        17
18     United States USA         14       185        13
19  Papua New Guinea PNG         14         0         0

In [8]:
#Top 10 ODI teams in menâ€™s cricket along with the records for matches, points and rating.

df.head(10)

            Team T  Matches M  Points P  Rating R
0      England ENG         44      5405       123
1        India IND         52      6102       117
2   New Zealand NZ         32      3716       116
3    Australia AUS         39      4344       111
4  South Africa SA         31      3345       108
5     Pakistan PAK         35      3490       100
6   Bangladesh BAN         37      3366        91
7     Sri Lanka SL         39      3297        85
8   West Indies WI         46      3402        74
9  Afghanistan AFG         31      1844        59

ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [9]:
page = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")

In [10]:

soup=BeautifulSoup(page.content,'html.parser')

In [11]:

players=[]
teams=[]
ratings=[]

In [12]:

#Extract the tags of player for 1st row

player_name = soup.find_all('div',class_='rankings-block__banner--name-large')
for i in player_name:
    players.append(i.text.strip())

In [13]:
#Extract the tags of remaining players from 2nd row

player_name = soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in player_name:
    players.append(i.text.strip())
    players = players[:10]

In [14]:
#Extract the tags of Team name for 1st row

team_names = soup.find_all('div',class_='rankings-block__banner--nationality')
for i in team_names:
    teams.append(i.text.strip())

In [15]:
#Extract the tags of remaining Team names from 2nd row

team_names = soup.find_all('span',class_='table-body__logo-text')
for i in team_names:
    teams.append(i.text.strip())
    teams = teams[:10]

In [16]:
#Extract the tags of rating for 1st row

rating = soup.find_all('div',class_='rankings-block__banner--rating')
for i in rating:
    ratings.append(i.text.strip())

In [17]:

#Extract the tags of remaining ratings from 2nd row

rating = soup.find_all('td',class_='table-body__cell rating')
for i in rating:
    ratings.append(i.text.strip())
    ratings = ratings[:10]

In [18]:
Top_Batsmen_ODI = pd.DataFrame({})
Top_Batsmen_ODI['players'] = players
Top_Batsmen_ODI['teams'] = teams
Top_Batsmen_ODI['ratings'] = ratings
Top_Batsmen_ODI

               players teams ratings
0          Virat Kohli   IND     870
1         Rohit Sharma   IND     842
2           Babar Azam   PAK     837
3          Ross Taylor    NZ     818
4          Aaron Finch   AUS     791
5  Francois du Plessis    SA     790
6         David Warner   AUS     773
7      Kane Williamson    NZ     765
8      Quinton de Kock    SA     755
9       Jonny Bairstow   ENG     754


iii) Top 10 ODI bowlers along with the records of their team and rating.

In [19]:

#Now getting the request for webpage server:

page = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

In [20]:

soup=BeautifulSoup(page.content,'html.parser')

In [21]:

players=[]
Teams=[]
ratings=[]

In [22]:

#Extract the tags of player name for 1st row

player=soup.find_all('div',class_='rankings-block__banner--name-large')
for i in player:
    players.append(i.text)
    
#Extract the tags of remaining player name from 2nd row

player=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in player:
    players.append(i.find('a').text)
    players=players[:10]

In [23]:

#Extract the tags of team name for 1st row

team = soup.find_all('div',class_='rankings-block__banner--nationality')
for i in team:
    Teams.append(i.text.replace('\n','').strip())
    
#Extract the tags of remaining team name from 2nd row

team = soup.find_all('span',class_='table-body__logo-text')
for i in team:
    Teams.append(i.text.replace('\n','').strip())
    Teams = Teams[:10]

In [24]:
#Extract the tags of rating for 1st row

rating=soup.find_all('div',class_='rankings-block__banner--rating')
for i in rating:
    ratings.append(i.text)
    
#Extract the tags of remaining ratings from 2nd row

rating=soup.find_all('td',class_='table-body__cell rating')
for i in rating:
    ratings.append(i.text)
    ratings=ratings[:10]

In [25]:
Bowlers_Top_ODI=pd.DataFrame({})
Bowlers_Top_ODI['players']=players
Bowlers_Top_ODI['Teams']=Teams
Bowlers_Top_ODI['ratings']=ratings
Bowlers_Top_ODI

             players Teams ratings
0        Trent Boult    NZ     722
1   Mujeeb Ur Rahman   AFG     708
2     Jasprit Bumrah   IND     700
3       Mehedi Hasan   BAN     694
4       Chris Woakes   ENG     675
5      Kagiso Rabada    SA     665
6     Josh Hazlewood   AUS     660
7  Mustafizur Rahman   BAN     658
8      Mohammad Amir   PAK     647
9        Pat Cummins   AUS     646