In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
page = requests.get("https://www.imdb.com/chart/top")
page

In [3]:
soup=BeautifulSoup(page.content,'html.parser')

In [4]:
releasing_year=[]
movie_title=[]
imdb_rating=[]

In [5]:
year = soup.select("td.titleColumn")
released_in = year[0:100]

movie_name = soup.select("td.titleColumn a")
movie_tag=movie_name[0:100]

ratings = soup.select("td.posterColumn span[name=ir]")
rating_tag = ratings[0:100]

In [6]:
for year in released_in:
    year_tag = year.get_text()
    split = year_tag.split()
    year = split[-1]
    releasing_year.append(year)

for name in movie_tag:
    movie_name_title = name.get_text()
    movie_title.append(movie_name_title)

for rating in rating_tag:
    movie_rating = float((rating['data-value']))
    rate='%.1f'%movie_rating
    imdb_rating.append(rate)

In [7]:
movies = pd.DataFrame({'Movie':movie_title,
                           'Year':releasing_year,
                           'IMDB_Rating':imdb_rating,})

In [8]:
movies

                       Movie    Year IMDB_Rating
0   The Shawshank Redemption  (1994)         9.2
1              The Godfather  (1972)         9.1
2     The Godfather: Part II  (1974)         9.0
3            The Dark Knight  (2008)         9.0
4               12 Angry Men  (1957)         8.9
..                       ...     ...         ...
95              Citizen Kane  (1941)         8.3
96                    Dangal  (2016)         8.3
97       Ladri di biciclette  (1948)         8.2
98         Full Metal Jacket  (1987)         8.2
99       Singin' in the Rain  (1952)         8.2

[100 rows x 3 columns]

In [9]:
movies.to_csv('movies.csv')