In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [2]:
page=requests.get("https://www.imdb.com/india/top-rated-indian-movies")
page

In [3]:
soup = BeautifulSoup(page.text, 'lxml')

In [4]:
movies = soup.select('td.titleColumn')
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]

In [5]:
imdb = []

In [6]:
# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, len(movies)):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "rating": ratings[index]}
            
    imdb.append(data)

In [7]:
df = pd.DataFrame(imdb)
df=df[0:100]
df

        movie_title  year             rating
0   Pather Panchali  1955   8.51646581154374
1          Gol Maal  1979  8.471209512428793
2          Ratsasan  2018  8.471128677617862
3        Anbe Sivam  2003  8.459314504555081
4           Nayakan  1987   8.45907119314333
..              ...   ...                ...
95            Lucia  2013  8.035454743329456
96           Bombay  1995   8.03486901657681
97          Maqbool  2003  8.034409042102206
98           Omkara  2006  8.031425282013002
99      Section 375  2019  8.025634448044368

[100 rows x 3 columns]

In [9]:
df.to_csv('movies.csv')