In [1]:
#importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver # Importing selenium webdriver 

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
# Activating the chrome browser
driver=webdriver.Chrome('D:\chromedriver_win32\chromedriver.exe')

# Question 1

Scrape the details of most viewed videos on YouTube from Wikipedia: Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ You need to find following details: A) Rank B) Name C) Artist D) Upload date E) Views

In [26]:
# Opening the url
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/')

In [27]:
#clicking the search list
search_button=driver.find_element_by_xpath("//a[@class='external text']")
search_button.click()

In [28]:
#clicking the first search result 
list_search=driver.find_element_by_xpath("//ul[@class='mw-search-results']/li[1]/div/a")
list_search.click()

In [29]:
# creating empty lists for scraping data
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

In [30]:
rank = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for d in rank:
    Rank.append(d.text)
name = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for d in name:
    Name.append(d.text)
art = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for d in art:
    Artist.append(d.text)
view = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for d in view:
    Views.append(d.text)
Date = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for d in Date:
    Upload_Date.append(d.text)

In [31]:
# creating the dataframe from the scraped data
import pandas as pd
Videos=pd.DataFrame({})
Videos['Rank']=Rank[0:30]
Videos['Name']=Name[0:30]
Videos['Artist']=Artist[0:30]
Videos['Upload_Date']=Upload_Date[0:30]
Videos['Views']=Views[0:30]
Videos

,Rank,Name,Artist,Upload_Date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.09
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.24
2,3.,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",5.21
3,4.,"""See You Again""[26]",Wiz Khalifa,"April 6, 2015",4.99
4,5.,"""Johny Johny Yes Papa""[29]",LooLoo Kids,"October 8, 2016",4.90
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.42
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.11
7,8.,"""Gangnam Style""[32]",Psy,"July 15, 2012",4.00
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,"February 27, 2018",3.74
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.74
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.60
11,12.,"""Sorry""[37]",Justin Bieber,"October 22, 2015",3.41
12,13.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.41
13,14.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.29
14,15.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.21
15,16.,"""Thinking Out Loud""[41]",Ed Sheeran,"October 7, 2014",3.20
16,17.,"""Dame Tu Cosita""[42]",El Chombo,"April 5, 2018",3.15
17,18.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.03
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.00
19,20.,"""Dark Horse""[45]",Katy Perry,"February 20, 2014",2.99
20,21.,"""Lean On""[46]",Major Lazer Official,"March 22, 2015",2.99
21,22.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",2.98
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",2.97
23,24.,"""Let Her Go""[49]",Passenger,"July 25, 2012",2.93
24,25.,"""Mi Gente""[50]",J Balvin,"June 29, 2017",2.88
25,26.,"""Hello""[51]",Adele,"October 22, 2015",2.80
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.76
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,"June 4, 2010",2.76
28,29.,"""Blank Space""[54]",Taylor Swift,"November 10, 2014",2.73
29,30.,"""Chantaje""[55]",Shakira,"November 18, 2016",2.63

# Question 2

Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details: A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [15]:
# Opening the url
driver.get('https://www.bcci.tv/')

In [16]:
#navigating to the international fixtures page from homepage through code
international_fixture=driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']/li[1]/div[2]/div/ul/li[1]/a")
driver.get(international_fixture.get_attribute('href'))

In [17]:
# creating empty lists for scraping data
Match_title=[] 
Series=[]
Place=[] 
Date=[] 
Time=[]

In [18]:
title = driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
for d in title:
    Match_title.append(d.text)
series = driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]/span[2]')
for d in series:
    Series.append(d.text)
place = driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')
for d in place:
    Place.append(d.text)
date = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/span')
month = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/div/span[1]')
for d in range(len(date)):
    Date.append(date[d].text+month[d].text)
time = driver.find_elements_by_xpath('//div[@class="fixture__full-date"]/div/span[2]')
for d in time:
    Time.append(d.text)

In [19]:
# creating the dataframe from the scraped data
import pandas as pd
ICC=pd.DataFrame({})
ICC['Match_title']=Match_title
ICC['Series']=Series
ICC['Place']=Place 
ICC['Date']=Date
ICC['Time']=Time
ICC

,Match_title,Series,Place,Date,Time
0,4th Test,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",04MARCH,09:30 IST
1,1st T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",12MARCH,19:00 IST
2,2nd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",14MARCH,19:00 IST
3,3rd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",16MARCH,19:00 IST
4,4th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",18MARCH,19:00 IST
5,5th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",20MARCH,19:00 IST
6,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",23MARCH,13:30 IST
7,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",26MARCH,13:30 IST
8,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",28MARCH,13:30 IST
9,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04AUGUST,15:30 IST
10,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12AUGUST,15:30 IST
11,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25AUGUST,15:30 IST
12,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02SEPTEMBER,15:30 IST
13,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10SEPTEMBER,15:30 IST

# Question no 3

Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ You need to find following details: A) Name B) Description Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [26]:
# Opening the url
driver.get(' https://www.guru99.com/ ')

In [27]:
#clicking on the selenium page 
sel=driver.find_element_by_xpath("//div[@class='srch']/span[8]/a")
sel.click()

In [28]:
#clicking on the selenium exception tutorial link
tutorial=driver.find_element_by_xpath("//table[@class='table']/tbody/tr[34]/td/a")
tutorial.click()

In [29]:
Exception_Name=[]
Description=[]

In [30]:
name = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for d in name:
    Exception_Name.append(d.text)
des = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for d in des:
    Description.append(d.text)

In [31]:
import pandas as pd
Exceptions=pd.DataFrame({})
Exceptions['Exception_Name']=Exception_Name[1:]
Exceptions['Description']=Description[1:]
Exceptions

,Exception_Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# Question no 4

Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details: A) Rank B) State C) GSDP(18-19) D) GSDP(17-18) E) Share(2017) F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page through code.

In [32]:
driver.get(' http://statisticstimes.com/ ')

In [33]:
economy=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]")
driver.get(economy.get_attribute('href'))

In [34]:
#clicking on GDP of Indian states 
Indian_states=driver.find_element_by_xpath("//div[@style='float:left;background-color:seashell;width:400px;height:800px;']/ul/li[1]/a")
driver.get(Indian_states.get_attribute('href'))

In [35]:
Rank=[] 
State=[] 
GSDP_year_2019_to_year_2020=[] 
GSDP_year_2018_to_year_2019=[] 
Share_year_2018_to_2019=[] 
GDP_Dollar_billion_=[]

In [36]:
rank = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[1]')
for d in rank:
    Rank.append(d.text)
state = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[2]')
for d in state:
    State.append(d.text)
gdsp_19_20 = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[3]')
for d in gdsp_19_20:
    GSDP_year_2019_to_year_2020.append(d.text)
gdsp_18_19 = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[4]')
for d in gdsp_18_19:
    GSDP_year_2018_to_year_2019.append(d.text)
share = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[5]')
for d in share:
    Share_year_2018_to_2019.append(d.text)
gdp_dollar = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[6]')
for d in gdp_dollar:
    GDP_Dollar_billion_.append(d.text)

In [37]:
# creating the dataframe from the scraped data
import pandas as pd
GDP=pd.DataFrame({})
GDP['Rank']=Rank 
GDP['State']=State
GDP['GSDP_year_2019_to_year_2020']=GSDP_year_2019_to_year_2020 
GDP['GSDP_year_2018_to_year_2019']=GSDP_year_2018_to_year_2019 
GDP['Share_year_2018_to_2019']=Share_year_2018_to_2019 
GDP['GDP_Dollar_billion_']=GDP_Dollar_billion_
GDP

,Rank,State,GSDP_year_2019_to_year_2020,GSDP_year_2018_to_year_2019,Share_year_2018_to_2019,GDP_Dollar_billion_
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.35%,239.656
3,4,Gujarat,-,"1,502,899",7.92%,227.276
4,5,Karnataka,"1,631,977","1,493,127",7.87%,225.798
5,6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
6,7,Rajasthan,"1,020,989","942,586",4.97%,142.543
7,8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
8,9,Telangana,"969,604","861,031",4.54%,130.210
9,10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
10,11,Kerala,-,"781,653",4.12%,118.206
11,12,Delhi,"856,112","774,870",4.08%,117.180
12,13,Haryana,"831,610","734,163",3.87%,111.024
13,14,Bihar,"611,804","530,363",2.80%,80.204
14,15,Punjab,"574,760","526,376",2.77%,79.601
15,16,Odisha,"521,275","487,805",2.57%,73.768
16,17,Assam,-,"315,881",1.67%,47.769
17,18,Chhattisgarh,"329,180","304,063",1.60%,45.982
18,19,Jharkhand,"328,598","297,204",1.57%,44.945
19,20,Uttarakhand,-,"245,895",1.30%,37.186
20,21,Jammu & Kashmir,-,"155,956",0.82%,23.584
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
22,23,Goa,"80,449","73,170",0.39%,11.065
23,24,Tripura,"55,984","49,845",0.26%,7.538
24,25,Chandigarh,-,"42,114",0.22%,6.369
25,26,Puducherry,"38,253","34,433",0.18%,5.207
26,27,Meghalaya,"36,572","33,481",0.18%,5.063
27,28,Sikkim,"32,496","28,723",0.15%,4.344
28,29,Manipur,"31,790","27,870",0.15%,4.215
29,30,Nagaland,-,"27,283",0.14%,4.126
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.721
31,32,Mizoram,"26,503","22,287",0.12%,3.370
32,33,Andaman & Nicobar Islands,-,-,-,-

# Question no 5

Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [3]:
driver.get('https://github.com/')

In [4]:
trending=driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
driver.get(trending.get_attribute('href'))

In [5]:
Repository_title=[]
Repository_description=[] 
Contributors_count=[] 
Language_used=[]

In [6]:
title = driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]')
for d in title:
    Repository_title.append(d.text)

In [7]:
Repository_title

['gskinnerTeam / flutter-folio',
 'flutter / flutter',
 'google / googletest',
 'muguruzawang / jd_maotai_seckill',
 'dolthub / dolt',
 'influxdata / influxdb',
 'aws / aws-sdk-go',
 'Developer-Y / cs-video-courses',
 '52CV / CVPR-2021-Papers',
 'sohamsshah / JavaScriptONLY',
 'adobe / brackets',
 'kilimchoi / engineering-blogs',
 'microsoft / Web-Dev-For-Beginners',
 'tone-row / flowchart-fun',
 'dwisiswant0 / apkleaks',
 'nomi-sec / PoC-in-GitHub',
 'microsoft / Power-Fx',
 'flutter / samples',
 'yangshun / front-end-interview-handbook',
 'AvrahamRaviv / Deep-Learning-in-Hebrew',
 'git / git',
 'google / material-design-icons',
 'dorarad / gansformer',
 'trekhleb / javascript-algorithms',
 'dpaulson45 / HealthChecker']

In [8]:
des = driver.find_elements_by_xpath('//article[@class="Box-row"]/p')
for d in des:
    Repository_description.append(d.text)

In [9]:
Repository_description

['A platform adaptive Flutter app for desktop, mobile and web.',
 'Flutter makes it easy and fast to build beautiful apps for mobile and beyond.',
 'Googletest - Google Testing and Mocking Framework',
 '优化版本的京东茅台抢购神器',
 "Dolt – It's Git for Data",
 'Scalable datastore for metrics, events, and real-time analytics',
 'AWS SDK for the Go programming language.',
 'List of Computer Science courses with video lectures.',
 'Knowledge Resource of core fundamentals of JavaScript explained in simple way!',
 'An open source code editor for the web, written in JavaScript, HTML and CSS.',
 'A curated list of engineering blogs',
 '24 Lessons, 12 Weeks, Get Started as a Web Developer',
 'A small app for making quick flowcharts from text ⿻',
 'Scanning APK file for URIs, endpoints & secrets.',
 '📡 PoC auto collect from GitHub. ⚠️ Be careful Malware.',
 'Power Fx low-code programming language',
 'A collection of Flutter examples and demos.',
 '🕸 No-bullshit answers to the famous h5bp "Front-end Job Interview Questions"',
 'ספר מלא בעברית בנושאים של למידת מכונה ולמידה עמוקה',
 'Git Source Code Mirror - This is a publish-only repository and all pull requests are ignored. Please follow Documentation/SubmittingPatches procedure for any of your improvements.',
 'Material Design icons by Google',
 'Generative Adversarial Transformers',
 '📝 Algorithms and data structures implemented in JavaScript with explanations and links to further readings',
 'Exchange Server Performance Health Checker Script']

In [10]:
lan = driver.find_elements_by_xpath('//span[@class="d-inline-block ml-0 mr-3"]/span[2]')
for d in lan:
    
    try:
        Language_used.append(d.text)
        
    except NoSuchElementException :
        
        Language_used.append("---")

In [11]:
Language_used

['Dart',
 'Dart',
 'C++',
 'Python',
 'Go',
 'Go',
 'Go',
 'JavaScript',
 'JavaScript',
 'Ruby',
 'JavaScript',
 'TypeScript',
 'Python',
 'Dart',
 'JavaScript',
 'C',
 'Python',
 'JavaScript',
 'PowerShell']

In [12]:
URLS=[]
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    URLS.append(i.get_attribute("href"))

for URL in URLS:
    
    try:
        driver.get(URL)
        count=driver.find_element_by_xpath("//div[@class='BorderGrid-cell']/h2/a/span").text
        Contributors_count.append(count)
    except NoSuchElementException :
        Contributors_count.append("---")

In [13]:
Contributors_count

['',
 '812',
 '14',
 '',
 '62',
 '347',
 '1,048',
 '',
 '',
 '',
 '114',
 '',
 '',
 '',
 '',
 '---',
 '',
 '',
 '91',
 '',
 '',
 '18',
 '',
 '',
 '68']

In [14]:
print(len(Repository_title),len(Repository_description),len(Contributors_count),len(Language_used))

25 24 25 19

In [15]:
import pandas as pd
Repositories=pd.DataFrame({})
Repositories['Repository_title']=Repository_title[0:19]
Repositories['Repository_description']=Repository_description[0:19] 
Repositories['Contributors_count']=Contributors_count[0:19] 
Repositories['Language_used']=Language_used[0:19]
Repositories

,Repository_title,Repository_description,Contributors_count,Language_used
0,gskinnerTeam / flutter-folio,"A platform adaptive Flutter app for desktop, m...",,Dart
1,flutter / flutter,Flutter makes it easy and fast to build beauti...,812,Dart
2,google / googletest,Googletest - Google Testing and Mocking Framework,14,C++
3,muguruzawang / jd_maotai_seckill,优化版本的京东茅台抢购神器,,Python
4,dolthub / dolt,Dolt – It's Git for Data,62,Go
5,influxdata / influxdb,"Scalable datastore for metrics, events, and re...",347,Go
6,aws / aws-sdk-go,AWS SDK for the Go programming language.,"1,048",Go
7,Developer-Y / cs-video-courses,List of Computer Science courses with video le...,,JavaScript
8,52CV / CVPR-2021-Papers,Knowledge Resource of core fundamentals of Jav...,,JavaScript
9,sohamsshah / JavaScriptONLY,"An open source code editor for the web, writte...",,Ruby
10,adobe / brackets,A curated list of engineering blogs,114,JavaScript
11,kilimchoi / engineering-blogs,"24 Lessons, 12 Weeks, Get Started as a Web Dev...",,TypeScript
12,microsoft / Web-Dev-For-Beginners,A small app for making quick flowcharts from t...,,Python
13,tone-row / flowchart-fun,"Scanning APK file for URIs, endpoints & secrets.",,Dart
14,dwisiswant0 / apkleaks,📡 PoC auto collect from GitHub. ⚠️ Be careful ...,,JavaScript
15,nomi-sec / PoC-in-GitHub,Power Fx low-code programming language,---,C
16,microsoft / Power-Fx,A collection of Flutter examples and demos.,,Python
17,flutter / samples,"🕸 No-bullshit answers to the famous h5bp ""Fron...",,JavaScript
18,yangshun / front-end-interview-handbook,ספר מלא בעברית בנושאים של למידת מכונה ולמידה ע...,91,PowerShell

# Question no 6

Scrape the details of top 100 songs on billiboard.com. Url = https://www.billiboard.com/ You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [53]:
# Opening the url
driver.get('https://www.billboard.com/')

In [54]:
top100=driver.find_element_by_xpath("//nav[@class='header__subnav bg--light']/ul/li[3]/a")
top100.click()

In [55]:
# creating empty lists for scraping data
Song_name=[]
Artist_name=[] 
Last_week_rank=[] 
Peak_rank=[]
Weeks_on_board=[]

In [56]:
song = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for d in song:
    Song_name.append(d.text)
artist = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for d in artist:
    Artist_name.append(d.text)
lastweek = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for d in lastweek:
    Last_week_rank.append(d.text)
peak = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for d in peak:
    Peak_rank.append(d.text)
weeks = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for d in weeks:
    Weeks_on_board.append(d.text)

In [57]:
# creating the dataframe from the scraped data
import pandas as pd
TOP100SONGS=pd.DataFrame({})
TOP100SONGS['Song_name']=Song_name
TOP100SONGS['Artist_name']=Artist_name
TOP100SONGS['Last_week_rank']=Last_week_rank
TOP100SONGS['Peak_rank']=Peak_rank
TOP100SONGS['Weeks_on_board']= Weeks_on_board
TOP100SONGS

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Drivers License,Olivia Rodrigo,1,1,7
1,Up,Cardi B,5,2,3
2,Go Crazy,Chris Brown & Young Thug,8,3,42
3,34+35,Ariana Grande,2,2,17
4,Blinding Lights,The Weeknd,4,1,64
...,...,...,...,...,...
95,The Business,Tiesto,-,96,1
96,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,-,97,1
97,Monster,Shawn Mendes & Justin Bieber,91,8,14
98,Track Star,Mooski,-,99,1
99,Like I Want You,Giveon,95,95,2

# Question no 7

Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ You have to find the following details: A) Name B) Designation C) Company D) Skills they hire for E) Location Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [5]:
driver.get('https://www.naukri.com/')

In [6]:
#clciking on the recruiter option on homepage
recruiter=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
driver.get(recruiter.get_attribute('href'))

In [7]:
#Giving/Typing Data Science as key/input in the search bar
search_field_designation=driver.find_element_by_xpath("//input[@class='sugInp']")
search_field_designation.send_keys("Data Science")

In [8]:
search_button=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search_button.click()

In [9]:
Name=[]
Designation=[] 
Company=[] 
Skills_Required=[] 
Location=[]

In [10]:
name = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
for d in name:
    Name.append(d.text)
des = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for d in des:
    Designation.append(d.text)
loc = driver.find_elements_by_xpath('//p[@class="highlightable"]/span[2]')
for d in loc:
    
    try:
        Location.append(d.text)
        
    except NoSuchElementException:
        
        Location.append("---")

In [11]:
com = driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
for d in com:
    Company.append(d.text)
skill = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for d in skill:
    Skills_Required.append(d.text)

In [12]:
print(len(Name),len(Designation),len(Company),len(Skills_Required),len(Location))

50 50 50 50 48

In [13]:
import pandas as pd
Recruiter=pd.DataFrame({})
Recruiter['Name']=Name[0:48]
Recruiter['Designation']=Designation[0:48]
Recruiter['Company']=Company[0:48]
Recruiter['Skills_Required']= Skills_Required[0:48]
Recruiter['Location']=Location[0:48]
Recruiter

,Name,Designation,Company,Skills_Required,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Mysoru / Mysore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Noida
31,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
32,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
33,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
34,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
35,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
36,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
37,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
38,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
39,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
40,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
41,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
42,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
43,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
44,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad
45,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Noida
46,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Mumbai
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Bengaluru / Bangalore

# Question no 8

Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/ You have to find the following details: A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [67]:
# Opening the url
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [68]:
# creating empty lists for scraping data
Book_name=[] 
Author_name=[] 
Volumes_sold=[]
Publisher=[] 
Genre=[]

In [69]:
book = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for d in book:
    Book_name.append(d.text)
author = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for d in author:
    Author_name.append(d.text)
vol = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for d in vol:
    Volumes_sold.append(d.text)
pub = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for d in pub:
    Publisher.append(d.text)
gen = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for d in gen:
    Genre.append(d.text)

In [70]:
import pandas as pd
BOOKS=pd.DataFrame({})
BOOKS['Book_name']=Book_name
BOOKS['Author_name']= Author_name
BOOKS['Volumes_sold']=Volumes_sold
BOOKS['Publisher']=Publisher
BOOKS['Genre']=Genre
BOOKS

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question no 9

Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [71]:
# Opening the url
driver.get('https://www.imdb.com/list/ls095964455/')

In [72]:
# creating empty lists for scraping data
Name=[]
Year_span=[] 
Genre=[] 
Run_time=[] 
Ratings=[] 
Votes=[]

In [73]:
name = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for d in name:
    Name.append(d.text)
year = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for d in year:
    Year_span.append(d.text)
gen = driver.find_elements_by_xpath('//span[@class="genre"]')
for d in gen:
    Genre.append(d.text)
runtime = driver.find_elements_by_xpath('//span[@class="runtime"]')
for d in runtime:
    Run_time.append(d.text)
ratings = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')
for d in ratings:
    Ratings.append(d.text)
vote = driver.find_elements_by_xpath('//span[@name="nv"]')
for d in vote:
    Votes.append(d.text)

In [74]:
import pandas as pd
Top_series=pd.DataFrame({})
Top_series['Name']=Name
Top_series['Year_span']= Year_span
Top_series['Genre']=Genre
Top_series['Run_time']= Run_time
Top_series['Ratings']=Ratings
Top_series['Votes']=Votes
Top_series

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,778,033"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"828,670"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"856,679"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,182"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,706"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,764"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,080"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,201"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,196"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"183,830"

# Question no 10

Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year Note: - from the home page you have to go to the ShowAllDataset page through code.

In [75]:
# Opening the url
driver.get('https://archive.ics.uci.edu/ ')

In [76]:
dataset=driver.find_element_by_xpath("//span[@class='normal']/b/a")
driver.get(dataset.get_attribute('href'))

In [77]:
# creating empty lists for scraping data
Dataset_name=[] 
Data_type=[]
Task=[] 
Attribute_type=[] 
No_of_instances=[] 
No_of_attribute=[] 
Year=[]

In [78]:
name = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td/table/tbody/tr/td[2]/p/b/a')
for d in name:
    Dataset_name.append(d.text)
name1 = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td/table/tbody/tr/td[2]/p/b/a')
for d in name1:
    Dataset_name.append(d.text)
datatype = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[2]/p')
for d in datatype:
    Data_type.append(d.text)
task = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[3]/p')
for d in task:
    Task.append(d.text)
att = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[4]/p')
for d in att:
    Attribute_type.append(d.text)
ins = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[5]/p')
for d in ins:
    No_of_instances.append(d.text)
no_of_att = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[6]/p')
for d in no_of_att:
    No_of_attribute.append(d.text)
year = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[7]/p')
for d in year:
    Year.append(d.text)
datatype = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[2]/p')
for d in datatype:
    Data_type.append(d.text)
tsk = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[3]/p')
for d in tsk:
    Task.append(d.text)
attr = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[4]/p')
for d in attr:
    Attribute_type.append(d.text)
noi = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[5]/p')
for d in noi:
    No_of_instances.append(d.text)
noa = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[6]/p')
for d in noa:
    No_of_attribute.append(d.text)
yr = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[7]/p')
for d in yr:
    Year.append(d.text)

In [79]:
print(len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(No_of_instances),len(No_of_attribute),len(Year))

293 293 293 293 293 293 293

In [80]:
# creating the dataframe from the scraped data
import pandas as pd
Datasets=pd.DataFrame({})
Datasets['Dataset_name']=Dataset_name 
Datasets['Data_type']=Data_type
Datasets['Task']=Task
Datasets['Attribute_type']=Attribute_type
Datasets['No_of_instances']=No_of_instances
Datasets['No_of_attribute']= No_of_attribute
Datasets['Year']=Year
Datasets

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
3,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
4,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
...,...,...,...,...,...,...,...
288,LastFM Asia Social Network,Multivariate,Classification,,7624,7842,2020
289,Productivity Prediction of Garment Employees,"Multivariate, Time-Series","Classification, Regression","Integer, Real",1197,15,2020
290,LastFM Asia Social Network,Multivariate,Classification,,7624,7842,2020
291,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
292,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020